@{
    ViewBag.Title = "About";
}
<h2>Thank You</h2>

<p>Presented by:</p>
<ol>
    <li>Kartik Sivakumar</li>
    <li>Nitin Gupta</li>
    <li>Jaivik Sheth</li>
    <li>Sadaf Zehra</li>
    <li>Linh Dao</li>
</ol>
